
.footer {
  display: block;
  background-image: linear-gradient(#ffe6b3, lightyellow);
  color: blue;
  margin-left: auto;
  padding:5px;
  border: 2px solid white;
  border-radius: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
